.video-page-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (min-width: 576px) {
  .video-page-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.video-player-container {
  display: flex;
  width: 100%;
}

.feedback-modal {
  border-radius: 1.6rem !important;
}

.feedback-modal .feedback-modal-header {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  /* border-bottom: 1px solid #dee2e6; */
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.feedback-modal .modal-title h3 {
  text-align: center;
  color: #01dbb9;
  margin-top: 0.3rem;
}
.feedback-modal .login-icon {
  float: left;
  margin-left: 50px;
  width: 50px;
}

.feedback-modal .feedback-modal-header button.close {
  padding: 7px 12px;
  opacity: 1;
  border-radius: 1.8rem;
  position: relative;
  left: 20px;
  top: -20px;
  color: #01dbb9;
}
.feedback-modal .feedback-modal-header button.close:hover {
  opacity: 1;
}
.feedback-modal .feedback-modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 4rem;
}
.feedback-modal .feedback-modal-body .remember-check {
  margin-top: -45px;
  max-width: fit-content;
}

.feedback-modal .feedback-modal-body .btn-primary {
  background-color: #01dbb9;
  border-color: #01dbb9;
  border-radius: 10px;
}
.feedback-modal .feedback-modal-body .btn-primary:active {
  background-color: #01dbb9 !important;
  border-color: #01dbb9 !important;
}
.feedback-modal .feedback-modal-body .btn-primary:hover {
  background-color: #01dbb9;
  border-color: #01dbb9;
}
.feedback-modal .feedback-modal-body .btn-primary:focus {
  background-color: #01dbb9 !important;
  border-color: #01dbb9 !important;
}

.feedback-modal .feedback-modal-body .btn-link {
  color: #01dbb9;
}
.feedback-modal .feedback-modal-body .btn-link:active {
  color: #01dbb9 !important;
}
.feedback-modal .feedback-modal-body .btn-link:hover {
  color: #01dbb9;
}
.feedback-modal .feedback-modal-body .btn-link:focus {
  color: #01dbb9 !important;
}

#question {
  background-color: #01dbb9;
  border-color: #01dbb9;
  border-radius: 10px;
}
#question:active {
  background-color: #01dbb9 !important;
  border-color: #01dbb9 !important;
}
#question:hover {
  background-color: #01dbb9;
  border-color: #01dbb9;
}
#question:focus {
  background-color: #01dbb9 !important;
  border-color: #01dbb9 !important;
}
.video-player {
  border-radius: 25px;
}

#videoID {
  border-radius: 25px;
}

.video-icon {
  color: #59dcb7;
}

.video-icon-disabled {
  color: #878787;
}

.video-react-poster {
  border-radius: 25px;
}
.speaker-container {
  margin: 20px 0;
  padding: 20px 10px;
}

.share-modal {
  border-radius: 1.6rem !important;
}
.share-modal .share-modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.share-modal .modal-title h6 {
  margin-top: 0.3rem;
}
.share-modal .share-modal-body {
  position: relative;
  flex: 1 1 auto;
}
.share-button-box {
  padding: 10px;
  margin: 5px;
}
